* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;

  --primary: #0ea5e9;
  --warning: #ef4444;
  --warning-200: #fecaca;
  --warning-300: #fca5a5;
  --success: #22c55e;
  --default: #3b82f6;
  --text-darker: #0c0a09;
  --text: #78716c;
  --text-lighter: #fafaf9;
  --shadow-color: rgba(12, 10, 9, 0.2);
  --shadow: 2px 2px 6px 3px var(--shadow-color);

  --bg-color: #fafaf9;
  --bg-color-additional: var(--warning-200);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left top,
    var(--bg-color) 15%,
    var(--bg-color-additional) 20%,
    var(--bg-color) 25% 35%,
    var(--bg-color-additional) 40%,
    var(--bg-color) 45% 55%,
    var(--bg-color-additional) 60%,
    var(--bg-color) 65% 75%,
    var(--bg-color-additional) 80%,
    var(--bg-color) 85%
  );
  color: var(--text-darker);
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.theme_dark {
  --text-darker: #fafaf9;
  --text-lighter: #0c0a09;
  --shadow-color: rgba(250, 250, 249, 0.2);
  --bg-color: var(--text-lighter);
  background: linear-gradient(
    to left top,
    var(--bg-color) 15%,
    var(--bg-color-additional) 20%,
    var(--bg-color) 25% 35%,
    var(--bg-color-additional) 40%,
    var(--bg-color) 45% 55%,
    var(--bg-color-additional) 60%,
    var(--bg-color) 65% 75%,
    var(--bg-color-additional) 80%,
    var(--bg-color) 85%
  );
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideOut {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  1% {
    opacity: 1;
    transform: translateX(-99%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(0);
  }
  99% {
    opacity: 1;
    transform: translateX(-99%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
